{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">NEW</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인 하세요]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p><b>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></b></p>
    <p>글 번호: {{ article.pk }}</p>
    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>

    <!-- 페이지안에서 바꿔줄거니까 action과 method 없애기 -->
    <!-- 모든 폼을 한번에 가져올거니까 id대신 class로 이름 넣어주기 -->
    <form class="d-inline like-form" data-article-id="{{ article.pk }}"> 
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
        <button class="btn btn-link" style="color: crimson;">
          <i id="like-{{ article.pk }}" class="fas fa-heart"></i>
        </button>
      {% else %}
        <button class="btn btn-link" style="color: black;">
          <i id="like-{{ article.pk }}" class="fas fa-heart"></i>
        </button>
      {% endif %}
    </form>


    <p>
      <span id="like-count-{{ article.pk }}">{{ article.likes }}</span> 명이 이 글을 좋아합니다.
    </p>


    <br>
    <a href="{% url 'articles:detail' article.pk %}">[detail]</a>
    <hr>
  {% endfor %}



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 페이지에 존재하는 모든 좋아요 폼(버튼) 선택 
  const likeForms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  // 좋아요 폼 하나씩 꺼내서 처리
  likeForms.forEach(function (likeForm) {

    likeForm.addEventListener('submit', function (event) {
      event.preventDefault()
      const articleId = event.target.dataset.articleId
      axios.post(`http://127.0.0.1:8000/articles/${articleId}/like/`, {}, {
        headers: {'X-CSRFToken': csrftoken}
      })
        .then(function (res) {
          const liked = res.data.liked
          const likeCount = res.data.like_count

          const likeIcon = document.querySelector(`#like-${articleId}`)
          const likeCountSpan = document.querySelector(`#like-count-${articleId}`)
          
          likeCountSpan.innerText = likeCount
          likeIcon.style.color = liked ? 'crimson' : 'black'
        })
        .catch(function (err) {
          console.log(err)
        })
    })
  })
</script>
{% endblock %}
