if{% extends 'base.html' %}

{% block content %}
  <h2 class='text-center'>DETAIL</h2>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}">
  {% else %}
    <p><strong>이미지가 없습니다.</strong></p>
  {% endif %}
  <hr>
  <p>제목: {{ article.title }}</p>
  <p>내용: {{ article.content }}</p>
  <p>작성 시각: {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
  <p>수정 시각: {{ article.updated_at|date:"M j, Y" }}</p>
  <hr>
  {% if request.user == article.user %}
    <div class="d-flex">
      <a href="{% url 'articles:update' article.pk%}" class="mx-1">[UPDATE]</a><br>
      <form action="{% url 'articles:delete' article.pk %}" method="POST" enctype="multipart/form-data" class="mx-1">
      {% csrf_token %}
      <input type="submit" value="DELETE">
      </form>
    </div>
  {% endif %}
  <a href="{% url 'articles:index' %}" class="mx-1">[back]</a>
  <hr>
  <h4>댓글</h4>
  {% if comments|length %}
    <p>{{ comments|length }} 개의 댓글이 있습니다.</p>
  {% endif %}
  {% for comment in article.comment_set.all %}
    <li>
    {{ comment.user }} : {{ comment.content }}
      {% if comment.user == request.user %}
      <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="DELETE">
      </form>
      {% endif %}
    </li>
  {% empty %}
    <p>아직 댓글이 없습니다.</p>
  {% endfor %} 
  <hr>
  {% if request.user.is_authenticated %}
    <h4>댓글 작성</h4>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>   
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>  
  {% endif %}
{% endblock  %}
