<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4. Vue v-if & v-else-if & v-else</title>
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <p>{{ message2 }}</p>
    <ul>
      <li v-for="todo in todos">
        <span v-if="todo.completed === true">
          완료: {{ todo.content }}
        </span>
        <span v-else-if="todo.completed === 'pending'">
          진행중: {{ todo.content }}
        </span>
        <span v-else>
          미완료: {{ todo.content }}
        </span>
      </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '너무 졸리다',
        message2: '커피 마시자',
        todos: [
        { id:1, content: 'Vue 복습', completed: false},
        { id:2, content: 'JS 복습', completed: true},
        { id:3, content: 'Django 복습', completed: false},
        { id:4, content: '삼겹살 먹기', completed: 'pending'},
        ],
      },
    })
  </script>
</body>
</html>
