<!--팔로워 수 / 팔로잉 수-->
<div class="jumbotron">
    {% with followers=person.followers.all followings=person.followings.all  %}
        <p class="lead">
        팔로워 수 : {{ followers|length }} / 팔로잉 수 : {{followings|length}}
        </p>
        <p>팔로워 : 
        {% for follower in person.followers.all %}
        {{ follower.username }}
        {% endfor %}</p>
        <!--팔로우 버튼 / 언팔로우 버튼 -->
        {% if request.user != person %}
        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in person.followers.all %}
                <button class="btn btn-secondary">Unfollow</button>
            {% else %}
                <button class="btn btn-primary">Follow</button>
            {% endif %}
        </form>
        {% endif %}
    {% endwith %}
</div>